<div class="edit-profile" [formGroup]="profileForm">

  <div *ngFor="let input of profileInfo">
    <div *ngIf="input.label!=='role' && input.label!=='listeFrontaux' " class="inputField" style="flex-grow: 1">
      <input type="text" formControlName="{{input.label}}" [readonly]="input.label==='identifiant'">
      <label for="{{input.label}}">
      {{ input.label | translate }}
    </label>
  </div>
  <span
  class="helptext text-red"
  *ngIf="profileForm.controls[input.label]?.dirty && profileForm.get(input.label).invalid"
  >{{'INVALID_INPUT' | translate}}</span>


  </div>
  <div class="wrapper-btn">
    <button class="main-btn btn-reset" (click)="closeFormulaire()">
      {{ 'CANCEL' | translate }}
    </button>

    <button
      class="main-btn btn-second"
      [disabled]="!profileForm.valid"
      (click)="onSubmit()"
    >
      {{ 'VALID' | translate }}
    </button>
  </div>
</div>
