.table-frontal thead th:nth-child(2) {
  width: 16%;
}

.table-frontal thead th:nth-child(4) {
  width: 21%;
}

.table-frontal thead th:nth-child(3) {
  width: 10%;
}

.table-frontal thead th:nth-child(5) {
  width: 10%;
}

.table-frontal thead th:nth-child(6) {
  width: 30% !important;
}
