<app-spinner></app-spinner>
<div class="container pd20">
  <div class="wrapper-title flex">
    <h1 class="main-title">{{ 'BOITES_AUX_LETTRES' | translate }}</h1>
    <button class="main-btn icon" (click)="openFormulaire()">
      {{ 'CREER_BAL' | translate }}
    </button>
  </div>

  <!--modal tamponnage -->
  <app-template-modal
    *ngIf="isModalOpen"
    [TitleModal]="TitleModal"
    [isModalOpen]="isModalOpen"
    [isValid]="true"
    (isModalClose)="modalCloseTamponnage($event)"
    (valide)="valideTempo($event)"
  >
    <app-temponnage
      [temponnageSelecte]="balTamponNbr"
      [balTemponne]="selectedBal"
      [balFilter]="balFilter"
      [balDataList]="balDataList"
    >
    </app-temponnage>
  </app-template-modal>
  <!-- ======= END .Bloc TILTE & BUTTON ======= -->
  <!--notification de tamponnage -->
  <app-notification
    *ngIf="
      openNotifDetemponnageSucces ||
      openNotifTemponnage ||
      openNotifTemponnageError ||
      isModMassbalsSuccess ||
      isModMassbalsFail ||
      openNotifDescativerMassSuccess
    "
    [notificationColor]="
      openNotifTemponnageError ||
      isModMassbalsFail ||
      openNotifRemiseDispoSuccess ||
      openNotifRemiseDispoError ||
      openNotifDescativerMassFail ||
      openNotifTemponnageError
        ? 'alerteMessage'
        : notificationColor
    "
    (closeNotfification)="resetNotificationDataAndClose()"
  >
    <ng-container *ngIf="openNotifTemponnageError">
      <h3 class="message_title">{{ 'TAMPO_FAILURE' | translate }}</h3>
      {{ messageErrorTamponnage }}
    </ng-container>

    <ng-container *ngIf="openNotifDetemponnageSucces">
      <h3 class="message_title">
        {{
          openNotifDetemponnageSucces
            ? ('DETAMPON_NOTIFICATION_SUCCES' | translate)
            : ('DETAMPON_NOTIFICATION_FAIL' | translate)
        }}
      </h3>
      <ul>
        <li>
          {{ 'DETAMPO_BAL' | translate }} :
          {{ balTamponNbr }}&nbsp;&nbsp;&nbsp;|
        </li>
        <li>
          {{ 'CRITERE_DETAMPO_LABEL' | translate }}
          <ng-container *ngIf="BalTamponner.etatBal">
            &nbsp; {{ 'ETAT' | translate }}&nbsp;:&nbsp;
            <div>
              {{ BalTamponner.etatBal }}
            </div> </ng-container
          >&nbsp;&nbsp;&nbsp;&nbsp;
          <ng-container *ngIf="BalTamponner.adresseBal">
            &nbsp;{{ 'ADRESS' | translate }}&nbsp;:&nbsp;
            <div>
              <span class="">{{ BalTamponner.adresseBal }}</span>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </ng-container>
          <ng-container *ngIf="BalTamponner.identifiantFrontal">
            &nbsp;{{ 'FRONTAL' | translate }}&nbsp;:&nbsp;
            <div>
              <span class="">{{ BalTamponner.identifiantFrontal }}</span>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </ng-container>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="openNotifTemponnage">
      <h3 class="message_title">
        {{ 'TEMPO_LANCE_WITH_SUCCESS' | translate }}
      </h3>
      <ul>
        <li>
          {{ 'BAL Tamponnées :' | translate }}
          {{ balTamponNbr }}&nbsp;&nbsp;&nbsp;|
        </li>
        <li *ngIf="BalTamponner.etatBal">
          {{ 'CRITERE_TEMPO' | translate }}&nbsp;&nbsp;
          <div>
            &nbsp; {{ 'ETAT' | translate }} &nbsp;:&nbsp;
            {{ BalTamponner.etatBal }}
          </div>
        </li>
        <li *ngIf="BalTamponner.adresseBal">
          &nbsp;{{ 'ADRESS' | translate }} &nbsp;:&nbsp;
          <div>
            <span class="">{{ BalTamponner.adresseBal }}</span>
          </div>
        </li>
        <li *ngIf="BalTamponner.identifiantFrontal">
          &nbsp;{{ 'FRONTAL' | translate }} &nbsp;:&nbsp;
          <div>
            <span class="">{{ BalTamponner.identifiantFrontal }}</span>
          </div>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="openNotifDetemponnageFail">
      {{ notificationErrorMessage }}
    </ng-container>
    <ng-container *ngIf="isModMassbalsFail">
      {{ modMassErrMessage }}
    </ng-container>
    <!-- show Desctiver en mass  notification  -->
    <ng-container *ngIf="openNotifDescativerMassSuccess">
      <h3 class="message_title">
        {{
          openNotifDescativerMassSuccess
            ? ('DES_MASS_NOTIF_MSG_SUCCESS' | translate)
            : ('DES_MASS_NOTIF_MSG_FAIL' | translate)
        }}
      </h3>
      <ul class="flex">
        <li class="notif-items">
          {{ 'DES_MASS_NOTIF_BALS_MOD' | translate }} :
          {{ selectedBal.length === 0 ? totalResult : selectedBal.length }}
        </li>
        <li *ngIf="balFilter.etatBal" class="notif-items">
          {{ 'ETAT' | translate }} : {{ balFilter.etatBal }}
        </li>
        <li *ngIf="balFilter.identifiantFrontal" class="notif-items">
          {{ 'FRONTAL' | translate }} : {{ balFilter.identifiantFrontal }}
        </li>
      </ul>
    </ng-container>
    <!-- show Modification en mass  notification  -->
    <ng-container *ngIf="isModMassbalsSuccess">
      <h3 class="message_title">
        {{
          isModMassbalsSuccess
            ? ('MOD_MASS_NOTIF_MSG_SUCCESS' | translate)
            : ('REMISE_DISPO_NOTIFICATION_FAIL' | translate)
        }}
      </h3>
      <ul class="flex">
        <li class="notif-items">
          {{ 'MOD_MASS_NOTIF_BALS_MOD' | translate }} :
          {{ selectedBal.length === 0 ? totalResult : selectedBal.length }}
        </li>
        <li *ngIf="modifMassObj.frontal" class="notif-items">
          {{ 'FRONTAL' | translate }} : {{ modifMassObj.frontal }}
        </li>
        <li *ngIf="modifMassObj.identifiantFrontal" class="notif-items">
          {{ 'TYPE_BOITE_LETTRE' | translate }} :
          {{ modifMassObj.identifiantFrontal }}
        </li>
        <li *ngIf="modifMassObj.seuil" class="notif-items">
          {{ 'SEUIL' | translate }} : {{ modifMassObj.seuil }}
        </li>
        <li *ngIf="modifMassObj.adressesIP.length > 0" class="notif-items">
          {{ 'IPs' | translate }} : {{ modifMassObj.adressesIP.join(',') }}
        </li>
        <li *ngIf="modifMassObj.mailAlerte" class="notif-items">
          {{ 'EMAIL_ALERT' | translate }} : {{ modifMassObj.mailAlerte }}
        </li>
        <li *ngIf="modifMassObj.relaiMessagerie" class="notif-items">
          {{ 'RELAIS_MESSAGERIE' | translate }} :
          {{ modifMassObj.relaiMessagerie }}
        </li>
      </ul>
    </ng-container>
    <!-- show remise disposition notification  -->

    <ng-container *ngIf="openNotifRemiseDispoSuccess">
      <h3 class="message_title">
        {{
          openNotifRemiseDispoSuccess
            ? ('REMISE_DISPO_NOTIFICATION_SUCCES' | translate)
            : ('REMISE_DISPO_NOTIFICATION_FAIL' | translate)
        }}
      </h3>

      <ul class="flex notif-message">
        <li class="notif-items">
          {{ 'REMISE-DISPO_BAL' | translate }} :{{
            selectedBal.length === 0 ? totalResult : selectedBal.length
          }}
        </li>
        <li class="notif-items">
          {{ 'ETAT' | translate }} : {{ remiseDispoObj.etatBal }}
        </li>
        <li *ngIf="remiseDispoObj.adresseBal" class="notif-items">
          {{ 'ADRESS' | translate }} : {{ remiseDispoObj.adresseBal }}
        </li>
        <li *ngIf="remiseDispoObj.identifiantFrontal" class="notif-items">
          {{ 'FRONTAL' | translate }} :
          {{ remiseDispoObj.identifiantFrontal }}
        </li>
        <li
          *ngIf="remiseDispoObj.dateHeureDebut && remiseDispoObj.dateHeureFin"
          class="notif-items"
        >
          <div class="date-label">
            {{ 'REMETTRE_DISPO_DATE_DEBUT' | translate }} :
            {{ remiseDispoObj.dateHeureDebut | date: 'EEEE d MMMM, h:mm' }}
          </div>
          <div class="date-label fin">
            {{ 'REMETTRE_DISPO_DATE_FIN' | translate }} :
            {{ remiseDispoObj.dateHeureFin | date: 'EEEE d MMMM, h:mm' }}
          </div>
        </li>
        <li *ngIf="remiseDispoObj.emetteur">
          {{ 'SUBFIELDS.EMMETTEUR' | translate }}:{{ remiseDispoObj.emetteur }}
        </li>
        <li *ngIf="remiseDispoObj.destinataire">
          {{ 'SUBFIELDS.DESITINATAIRE' | translate }}:{{
            remiseDispoObj.destinataire
          }}
        </li>
        <li *ngIf="remiseDispoObj.contentDescription">
          {{ 'SUBFIELDS.CONTENT_DESC' | translate }}:{{
            remiseDispoObj.contentDescription
          }}
        </li>
        <li *ngIf="remiseDispoObj.fichiersCompresses">
          {{ 'SUBFIELDS.FICHIER_COMPRESSEE' | translate }}:{{
            remiseDispoObj.fichiersCompresses ? 'Oui' : 'Non'
          }}
        </li>
        <li
          *ngIf="
            remiseDispoObj.fichiersChiffres === null ||
            remiseDispoObj.fichiersChiffres === true ||
            remiseDispoObj.fichiersChiffres === false
          "
        >
          {{ 'SUBFIELDS.FICHIER_CHIFFREE' | translate }}:
          {{ remiseDispoObj.fichiersChiffres ? 'Oui' : 'Non' }}
          <span *ngIf="remiseDispoObj.fichiersChiffres === true">{{
            'SUBFIELDS.OUI' | translate
          }}</span>
          <span *ngIf="remiseDispoObj.fichiersChiffres === false">{{
            'SUBFIELDS.NON' | translate
          }}</span>
          <span *ngIf="remiseDispoObj.fichiersChiffres === null">{{
            'SUBFIELDS.INDIFFERENT' | translate
          }}</span>
        </li>
        <li *ngIf="remiseDispoObj.type">
          {{ 'SUBFIELDS.TYPE' | translate }}:{{ remiseDispoObj.type }}
        </li>
        <li *ngIf="remiseDispoObj.version">
          {{ 'SUBFIELDS.VERSION' | translate }}:{{ remiseDispoObj.version }}
        </li>
        <li *ngIf="remiseDispoObj.codeEmetteur">
          {{ 'SUBFIELDS.CODE_EMETTEUR' | translate }}:{{
            remiseDispoObj.codeEmetteur
          }}
        </li>
        <li *ngIf="remiseDispoObj.dateHeureSujet">
          {{ 'SUBFIELDS.DATE_HEURE_SUJET' | translate }}:{{
            remiseDispoObj.dateHeureSujet | date: 'EEEE d MMMM, h:mm'
          }}
        </li>
        <li *ngIf="remiseDispoObj.codeCompostage">
          {{ 'SUBFIELDS.CODE_COMPOSTAGE' | translate }}:{{
            remiseDispoObj.codeCompostage
          }}
        </li>
        <li *ngIf="remiseDispoObj.nbFSE">
          {{ 'SUBFIELDS.NBFSE' | translate }}:{{ remiseDispoObj.nbFSE }}
        </li>
        <li *ngIf="remiseDispoObj.sujetOuReplyInTo">
          {{ 'SUBFIELDS.SUJET_OUT_REPLY_INFO' | translate }}:{{
            remiseDispoObj.sujetOuReplyInTo
          }}
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="openNotifRemiseDispoError">
      {{ notificationErrorMessage }}
    </ng-container>
  </app-notification>

  <!--notification de Creation de BAL -->
  <app-notification
    *ngIf="openNotifBalCreationSucces || openNotifBalCreationFail"
    [notificationColor]="openNotifBalCreationFail ? 'alerteMessage' : 'message'"
    (closeNotfification)="resetNotificationDataAndClose()"
  >
    <h3 class="message_title">
      {{
        openNotifBalCreationSucces
          ? ('BAL_CREATION_NOTIFICATION_SUCCES' | translate)
          : ('BAL_CREATION_NOTIFICATION_FAIL' | translate)
      }}
    </h3>
    <ng-container
      *ngIf="openNotifBalCreationSucces || openNotifRemiseDispoSuccess"
    >
      <ul>
        <li>
          {{ 'ADDRESS' | translate }} :
          {{ newBal?.adresseBal }}
        </li>
        <li>
          &nbsp; {{ 'FRONTAL' | translate }} :
          {{ newBal?.frontal?.nom }}
        </li>
        <li>
          &nbsp; {{ 'BAL_TYPE_CREATION_LABEL' | translate }} :
          {{ newBal?.typeBal }}
        </li>
        <li>
          &nbsp; {{ 'SEUIL' | translate }} :
          {{ newBal?.seuil }}
        </li>
        <li>
          &nbsp; {{ 'IPS' | translate }} :
          {{ newBal?.listeAdressesIPAutorises?.join(',') }}
        </li>
        <li>
          {{ 'MAIL_ALERTE' | translate }} :
          {{ newBal?.adresseMailAlerte }}
        </li>
        <li *ngIf="newBal?.relaisMessagerie">
          {{ 'RELAI_MESSAGERIE' | translate }} :
          {{ newBal?.relaisMessagerie }}
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="openNotifBalCreationFail">
      {{ notificationErrorMessage }}
    </ng-container>
  </app-notification>
  <app-notification
    *ngIf="openNotifBalUpdateSucces || openNotifBalUpdateFail"
    [notificationColor]="
      openNotifBalUpdateFail ? 'message notification-error-color' : 'message'
    "
    (closeNotfification)="resetNotificationDataAndClose()"
  >
    <h3 class="message_title">
      {{
        openNotifBalUpdateSucces
          ? ('BAL_MODIFICATION_NOTIFICATION_SUCCES' | translate)
          : ('BAL_MODIFICATION_NOTIFICATION_FAIL' | translate)
      }}
    </h3>
    <ng-container *ngIf="openNotifBalUpdateSucces">
      <ul>
        <li>
          {{ 'ADDRESS' | translate }} :
          {{ updatedBal?.adresseBal }}
        </li>
        <li>
          &nbsp; {{ 'FRONTAL' | translate }} :
          <div>
            {{ updatedBal?.frontal?.nom }}
          </div>
        </li>
        <li>
          &nbsp; {{ 'BAL_TYPE_CREATION_LABEL' | translate }} :
          <div>
            <span class="">{{ updatedBal?.typeBal }}</span>
          </div>
        </li>
        <li>
          &nbsp; {{ 'SEUIL' | translate }} :
          <div>
            <span class="">{{ updatedBal?.seuil }}</span>
          </div>
        </li>
        <li>
          &nbsp; {{ 'IPS' | translate }} :
          <div>
            <span class="">{{
              updatedBal?.listeAdressesIPAutorises?.join(',')
            }}</span>
          </div>
        </li>
        <li>
          {{ 'MAIL_ALERTE' | translate }} :
          <div>
            <span class="">{{ updatedBal?.adresseMailAlerte }}</span>
          </div>
        </li>
        <li *ngIf="updatedBal?.relaisMessagerie">
          {{ 'RELAI_MESSAGERIE' | translate }} :
          <div>
            <span class="">{{ updatedBal?.relaisMessagerie }}</span>
          </div>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="openNotifBalUpdateFail">
      {{ notificationErrorMessage }}
    </ng-container>
  </app-notification>
  <!-- ======= START .Bloc FILTRES ======= -->
  <app-filter
    #balFilterComp
    [inputFilterData]="inputFilterDataNew"
    [filtreType]="FiltreType.BAL"
    (filterEvent)="getFiltredData($event)"
    (frontalAutocompletEvent)="getFrontalData($event)"
    (filterDefaultEvent)="getFiltredDataDefault()"
  ></app-filter>

  <!-- ======= END .Bloc FILTRES ======= -->

  <div class="flex space-between mgb40">
    <app-pagination
      [titlePagination]="'MAIL_BOXS' | translate"
      [totalResult]="totalResult"
      [pageNumber]="balFilter.numeroPage"
      [pageSiz]="balFilter.nbResultatsParPage"
      (paginationChangeEvent)="getPagination($event)"
    ></app-pagination>

    <button *ngIf="showRemiseDispositionBtn" class="main-btn btn-second" (click)="openRemiseDispositionModal()">
      {{ 'MAKE_AVAILABALITY_BTN' | translate }}
      {{ selectedBal.length === 0 ? totalResult : selectedBal.length }} BALs
    </button>
   
    <app-template-modal
    *ngIf="showRemiseDispositionModal"
    [TitleModal]="'REMETTRE_DISPO_MODAL_TITLE' | translate"
    [isModalOpen]="showRemiseDispositionModal"
    [isValid]="isFormValid"
    (isModalClose)="closeRemiseDispositionModal($event)" (valide)="remise_dispo_submit($event)">
    <app-remise-disposition 
    [balDataList]="balDataList" 
    [selectedBal]="selectedBal"
    [balNumber]="selectedBal.length === 0 ? totalResult : selectedBal.length"
      (remiseDispoEvent)="REMISE_DISPO_EVENT_HANDLER($event)"></app-remise-disposition>
      
    </app-template-modal>

  </div>
  <!-- ======= START .Bloc MAIN TABLE ======= -->
  <app-letter-box-list
    #balList
    [highlighRowEnable]="highlighRowEnable"
    [frontalRefs]="inputFilterData.frontal"
    [listBAL]="balDataList"
    [highlight]="highlight"
    [adresseHighlight]="adresseHighlight"
    [selectedBALList]="selectedBal"
    (selectedBALEvent)="saveSelectedBAL($event)"
    (orderingFilter)="updateOrder($event)"
    (updateBALEvent)="editBal($event)"
  ></app-letter-box-list>

  <app-template-formulaire
    *ngIf="isFormulaireopen"
    [titleFormulaire]="TitleFormulaire"
    [isFormulaireopen]="isFormulaireopen"
    (closeFormulaire)="CloseCreateBALForm()"
  >
    <app-formulaire
      (closeEvent)="CloseCreateBALForm()"
      (valideCreateBal)="createNewBAL($event)"
    ></app-formulaire>
  </app-template-formulaire>
  <!--formulaire de modification de bal -->
  <app-template-formulaire
    *ngIf="isUpdateBalFormOpen"
    [titleFormulaire]="'EDITE_BAL_FORM_TITLE' | translate"
    [isFormulaireopen]="isUpdateBalFormOpen"
    (closeFormulaire)="closeUpdateForm()"
  >
    <app-update-bal
      (closeEvent)="closeUpdateForm()"
      (valideUpdateBal)="updateBal($event)"
      [bal]="updatedBal"
    >
    </app-update-bal>
  </app-template-formulaire>
  <div
    class="overley"
    [ngClass]="
      isUpdateBalFormOpen || isFormulaireopen || isModalOpen ? 'show' : ''
    "
  ></div>

  <app-template-modal
    *ngIf="isModalDetampoOpen"
    [TitleModal]="'DETAMPO_MODAL_TITLE' | translate"
    [isModalOpen]="isModalDetampoOpen"
    [isValid]="true"
    (isModalClose)="closeModalDetampo($event)"
    (valide)="valideDeTempo($event)"
  >
    <app-detamponnage
      [balTemponne]="selectedBal"
      [balFilter]="balFilter"
      [balNumber]="selectedBal.length === 0 ? totalResult : selectedBal.length"
      [tooltipBALs]="tooltipBALs"
      [balDataList]="balDataList"
    ></app-detamponnage>
  </app-template-modal>
  <!-- remise a disposition -->

  <!-- desactiver en masse -->
  <!-- author yassine  -->
  <app-template-modal
    *ngIf="openDescativerEnMassModal"
    [TitleModal]="'DES_MODAL_TITLE' | translate"
    [isModalOpen]="openDescativerEnMassModal"
    [isValid]="isDesactiverEnMassFormvalid"
    (isModalClose)="closeDesactiverEnMassModal($event)"
    (valide)="desactiver_en_mass_submit($event)"
  >
    <app-desactiver-en-mass
      [selectedBal]="selectedBal"
      [balNumber]="selectedBal.length === 0 ? totalResult : selectedBal.length"
      [balFilter]="balFilter"
      [balDataList]="balDataList"
      (DESACTIVER_EN_MASS_EVENT)="DESACTIVER_EN_MASS_EVENT_HANDLER($event)"
    >
    </app-desactiver-en-mass>
  </app-template-modal>

  <div class="flex space-between mgb40">
    <app-pagination
      *ngIf="isShowPagiantion"
      [titlePagination]="'MAIL_BOXS' | translate"
      [totalResult]="totalResult"
      [pageNumber]="balFilter.numeroPage"
      [pageSiz]="balFilter.nbResultatsParPage"
      (paginationChangeEvent)="getPagination($event)"
    ></app-pagination>
  </div>
</div>
