.buttons-container{
  button{
    margin: 0 5px;
  }
  .modifier-mass-bals {
    margin-left: 5px;
    margin-top: 0.6rem;
    position: relative;
    .zmdi-edit {
      position: absolute;
      z-index: 9;
      color: #5092c4;
      right: 50%;
    }
  }
  
}
.date-label{
text-transform: capitalize;
&.fin{
  margin-left:1rem ;
}
}