<div  class="app-remise-dispo pd20">
  <div class="flex">
    <div class="totalInbox mgb30">
      <span class="val">{{ balNumber }}</span>
      {{ 'BOITES_AUX_LETTRES' | translate }}
    </div>

    <div class="info-bulle">
      <app-info-bulle 
      [balDataList]="selectedBal.length>0?selectedBal:balDataList"
      [selectedBal]="selectedBal"></app-info-bulle>
    </div>
  </div>
  <h4 class="title_modal mgb10">{{ 'REMETTRE_DISPO_CRITERE_TITLE' | translate }}</h4>
  <!-- periode -->
  <h3 class="title_modal mgt40">{{ 'REMETTRE_DISPO_PERIODE' | translate }}</h3>

  <div [formGroup]="periodeForm" class="period-container mgt20">
    <div class="flex">
      <app-date-time-picker
      [isPeriod]="true"
      label="{{ 'dateHeureDebut' | translate }}"
      (keyupEvent)="onDateTimeChange($event)"
      (datetimevalueEvent)="onDateTimeChange($event,'dateHeureDebut')"
      formControlName="dateHeureDebut"
      name="dateHeureDebut"
    ></app-date-time-picker>
    <!-- ----------------------------- -->
    <app-date-time-picker
      [isPeriod]="true"
      class="mgl20"
      label="{{ 'dateHeureFin' | translate }}"
      (keyupEvent)="onDateTimeChange($event)"
      (datetimevalueEvent)="onDateTimeChange($event,'dateHeureFin')"
      formControlName="dateHeureFin"
      name="dateHeureFin"
    ></app-date-time-picker>
    
    <input type="hidden" formControleName="periode" name="">
    </div>
    <div *ngIf="(form.get('dateHeureDebut').touched && form.get('dateHeureFin').touched) && form.get('periode').invalid" class="helptext text-red mgt20">{{'SUBFIELDS.DATE_ERR_INV' | translate}}</div>
  </div>
  <div class="field-container mgt40">
    <app-add-field  (emitDataEvent)="formValidHandler($event)" [filterTitle]="'REMETTRE_DISPO_FILTER_MESSAGE_LUS'" [tempItems]="message_lus_fields"></app-add-field>
    <app-add-field  (emitDataEvent)="formValidHandler($event)" [filterTitle]="'REMETTRE_DISPO_FILTER_SUJET'"  [tempItems]="message_subject_fields"></app-add-field>
  
  </div>
</div>
