.app-remise-dispo {
  overflow-y: scroll;
  padding: 0 1.875rem 1.875rem 1.875rem;
  height: 60vh;
}

.period-container {
  width: 70%;
  app-date-time-picker {
    flex-grow: 1;
  }
}

.field-lists {
  width: 70%;
}

.sub-field {
  margin: 2rem 0 0;
  display: flex;
  width: 70%;
  .inputField {
    width: 100%;
  }
  .remove {
    background: transparent;
    width: 20px;
    height: 20px;
    position: relative;
    border: 0;
    color: #5092c4;
    .zmdi-delete {
      position: relative;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
