
<div  class="app-remise-dispo pd20">
  <div class="flex">
    <div class="totalInbox mgb30">
      <span class="val">{{ balNumber }}</span>
      {{ 'BOITES_AUX_LETTRES' | translate }}
    </div>

    <div class="info-bulle">
      <app-info-bulle 
      [balDataList]="selectedBal.length>0?selectedBal:balDataList"
      [selectedBal]="selectedBal"></app-info-bulle>
    </div>
  </div>
  <h4 class="title_modal mgb10">{{ 'REMETTRE_DISPO_CRITERE_TITLE' | translate }}</h4>
  <!-- periode -->
  <h3 class="title_modal mgt40">{{ 'REMETTRE_DISPO_PERIODE' | translate }}</h3>

  <div [formGroup]="periodeForm" class="period-container flex mgt20">
    <app-date-time-picker
    (keyupEvent)="periodeKeyUphandler($event,'dd')"
    [isPeriod]="true"
      label="{{ 'REMETTRE_DISPO_DATE_DEBUT' | translate }}"
      (datetimevalueEvent)="onPeriodeSelect($event)"
      formControlName="dateHeureDebut"
      name="dateHeureDebut"
    ></app-date-time-picker>
    <!-- ----------------------------- -->
    <app-date-time-picker
    (keyupEvent)="periodeKeyUphandler($event,'df')"
    [isPeriod]="true"
      class="mgl20"
      label="{{ 'REMETTRE_DISPO_DATE_FIN' | translate }}"
      (datetimevalueEvent)="onPeriodeSelect($event)"
      formControlName="dateHeureFin"
      name="dateHeureFin"
    ></app-date-time-picker>
    <input type="hidden" formControleName="periode" name="">
  </div>
  <app-add-field [tempItems]="message_lus_fields"></app-add-field>
  <app-add-field [tempItems]="message_subject_fields"></app-add-field>
</div>



