
<div [formGroup]="miseDispoForm" class="app-remise-dispo pd20">
  <div class="flex">
    <div class="totalInbox mgb30">
      <span class="val">{{ balNumber }}</span>
      {{ 'BOITES_AUX_LETTRES' | translate }}
    </div>

    <div class="info-bulle">
      <app-info-bulle 
      [balDataList]="balDataList"
      [selectedBal]="selectedBal"></app-info-bulle>
    </div>
  </div>
  <h4 class="title_modal mgb10">{{ 'REMETTRE_DISPO_CRITERE_TITLE' | translate }}</h4>
  <!-- periode -->
  <h3 class="title_modal mgt40">{{ 'REMETTRE_DISPO_PERIODE' | translate }}</h3>
  <div class="period-container flex mgt20">
    <app-date-time-picker
    [isPeriod]="true"
      label="{{ 'REMETTRE_DISPO_DATE_DEBUT' | translate }}"
      (datetimevalueEvent)="onPeriodeSelect($event, 'dd')"
      formControlName="dateHeureDebut"
      name="activeEndDate"
    ></app-date-time-picker>
    <app-date-time-picker
    [isPeriod]="true"
      class="mgl20"
      label="{{ 'REMETTRE_DISPO_DATE_FIN' | translate }}"
      (datetimevalueEvent)="onPeriodeSelect($event, 'df')"
      formControlName="dateHeureFin"
      name="activeEndDate"
    ></app-date-time-picker>
  </div>
  <span
    *ngIf="form.get('dateHeureDebut').touched && !this.isPeriodValid"
    class="helptext text-red"
    >{{ 'INVALID_INPUT' | translate }}</span
  >
  <!-- list des messages  lus  -->
  <div class="select-field field-lists flex mgt40">
    <div class="inputField" style="flex-grow: 1">
      <ng-select
        [items]="MESSAGE_LUS_LIST"
        bindLabel="label"
        bindValue="id"
        placeholder="Etat"
        name="filterField"
        class="ngselectCustom"
        (change)="selectFieldHandler($event, 'message_lus_list')"
        (focus)="isMessageLusListSelected = true"
      >
      </ng-select>
      <label
        for="Critères de recherche du message"
        [ngClass]="isMessageLusListSelected ? 'ng-select-label' : ''"
      >
        {{ 'REMETTRE_DISPO_FILTER_1' | translate }}
      </label>
    </div>
    <button
      class="main-btn icon mgl20"
      [disabled]="isMessageListEmpty"
      (click)="insertField('message_lus_list')"
    >
      {{ 'AJOUTER_CRITERE' | translate }}
    </button>
  </div>

  <div *ngFor="let field of FIELD_LISTS.message_lus_list">
    <div *ngIf="field.visible" class="sub-field">
      <div class="inputField">
        <ng-container [ngSwitch]="field.type">
          <ng-template [ngSwitchCase]="'text'">
            <input
              type="text"
              [name]="field.fcn"
              (keyup)="onKeyUp($event, field)"
              placeholder=" "
            />
          </ng-template>
          <ng-template [ngSwitchCase]="'list'">
            <ng-select
              [items]="field.data"
              bindLabel="label"
              bindValue="id"
              class="ngselectCustom"
              (change)="onSelectChange($event, field)"
              (focus)="onFieldFocus($event, field.id)"
            >
            </ng-select>
          </ng-template>
        </ng-container>
        <label for="field.label" *ngIf="!(field.id === 4 || field.id === 5)">
          {{ field.label }}
        </label>
        <label
          for="field.label"
          *ngIf="field.id === 4"
          [ngClass]="fichierCompresseeSelected ? 'ng-select-label' : ''"
        >
          {{ field.label }}
        </label>
        <label
          for="field.label"
          *ngIf="field.id === 5"
          [ngClass]="fichierChifreeSelected ? 'ng-select-label' : ''"
        >
          {{ field.label }}
        </label>
      </div>
      <button class="remove" (click)="removeField(field, 'message_lus_list')">
        <i class="zmdi zmdi-delete"></i>
      </button>
    </div>
    <span
      class="helptext text-red"
      *ngIf="field.visible && form.get(field.fcn).invalid"
      >Champ Invalid</span
    >
  </div>

  <!-- list des messages  lus  -->

  <div class="select-field field-lists flex mgt40">
    <div class="inputField" style="flex-grow: 1">
      <ng-select
        [items]="SUJET_LIST"
        bindLabel="label"
        bindValue="id"
        placeholder="Etat"
        name="filterField"
        class="ngselectCustom"
        (change)="selectFieldHandler($event, 'sujet_list')"
        (focus)="isSujetLusListSelected = true"
      >
      </ng-select>
      <label
        for="Critères de recherche du message"
        [ngClass]="isSujetLusListSelected ? 'ng-select-label' : ''"
      >
        {{ 'REMETTRE_DISPO_FILTER_2' | translate }}
      </label>
    </div>
    <button
      class="main-btn icon mgl20"
      [disabled]="isSujetListEmpty"
      (click)="insertField('sujet_list')"
    >
      {{ 'AJOUTER_CRITERE' | translate }}
    </button>
  </div>

  <div *ngFor="let field of FIELD_LISTS.sujet_list">
    <div *ngIf="field.visible" class="sub-field">
      <div class="inputField">
        <ng-container [ngSwitch]="field.type">
          <ng-template [ngSwitchCase]="'text'">
            <input
            #inputText
              type="text"
              [name]="field.fcn"
              value="{{ form.get(field.fcn).value }}"
              (keyup)="onKeyUp($event, field)"
              (focus)="onFocus($event, field.fcn)"
              (blur)="onBlur($event, field.fcn)"
              placeholder=" "
            />
          </ng-template>
          <ng-template [ngSwitchCase]="'date'">
            <app-date-time-picker
            [isPeriod]="false"
              [label]="field.label"
              [label]="field.label"
              (datetimevalueEvent)="onDateTimeChange($event, field)"
              formControlName="dateHeureSujet"
              name="activeEndDate"
            >
            </app-date-time-picker>
          </ng-template>
        </ng-container>
        <label for="field.label" *ngIf="!(field.fcn === 'dateHeureSujet')">
          {{ field.label }}
        </label>
      </div>
      <button class="remove" (click)="removeField(field, 'sujet_list')">
        <i class="zmdi zmdi-delete"></i>
      </button>
    </div>

    <span
      class="helptext text-red"
      *ngIf="field.visible && form.get(field.fcn).invalid"
      >Champ Invalid</span
    >
  </div>

  <!-- hidden fields -->
  <input type="hidden" formControlname="periode" />
  <input type="hidden" formControlname="emetteur" />
  <input type="hidden" formControlname="destinataire" />
  <input type="hidden" formControlname="destinataire" />
  <input type="hidden" formControlname="contentDescription" />
  <input type="hidden" formControlname="fichiersCompresses" />
  <input type="hidden" formControlname="fichiersChiffres" />
  <input type="hidden" formControlname="type" />
  <input type="hidden" formControlname="version" />
  <input type="hidden" formControlname="code" />
  <input type="hidden" formControlname="codeCompostage" />
  <input type="hidden" formControlname="dateHeureSujet" />
  <input type="hidden" formControlname="nbFSE" />
  <input type="hidden" formControlname="sujetOuReplyInTo" />
</div>
