.inputField{
    margin: 1rem 0;
}
.main-btn{

}
.field-group{
    justify-content: space-around;
    align-items: center;
}
.subfield-group{
    justify-content: space-around;
    align-items: center;  
    .remove{
        margin-left: 1rem;
        color: #5093c4;
    }
}