<div class="flex">


  <div class="inputField" style="flex-grow: 1">
    <ng-select [items]="FIELDS" bindLabel="label" bindValue="id" [(ngModel)]="selectedValue" (focus)="isOpened=true"
      (blur)="isOpened=false" (change)="onSelectField($event)">
    </ng-select>
    <label for="Critères de recherche du message" [ngClass]="!!selectedValue || isOpened ? 'ng-select-label' : ''">
      {{ 'REMETTRE_DISPO_FILTER_1' | translate }}
    </label>
  </div>
  <button class="main-btn icon mgl20" [disabled]="!(!!selectedValue || isOpened ) || !isAddFieldBtnValid" (click)="insertField()">
    {{ 'AJOUTER_CRITERE' | translate }}
  </button>
</div>
<!-- form -->
<div [formGroup]="addFieldForm" class="app-remise-dispo pd20">
  <!-- other subfield -->
  <div *ngFor="let field of FIELDS">
    <div class="flex">
    <div *ngIf="field.fcn" style="flex-grow: 1;">
      <div class="inputField" *ngIf="field.disabled">
        <!-- input -->
        <input type="text" [id]="field.fcn" (keyup)="onchange($event,field)" formControlName="{{field.fcn}}" *ngIf="field.type==='text' || field.type==='email'" />
        <!-- select -->
        <ng-select (change)="onchange($event,field)"  *ngIf="field.type==='list'" [items]="FIELDS" bindLabel="label" bindValue="id"
          formControlName="{{field.fcn}}">
        </ng-select>
        <!-- date  -->
        <app-date-time-picker
        *ngIf="field.type==='date'"
        [isPeriod]="true"
        (keyupEvent)="onchange($event,field)"
        (datetimevalueEvent)="onchange($event,field)"
        label="{{field.label}}" 
        formControlName="{{field.fcn}}"
        ></app-date-time-picker>
          <!-- label -->
        <label *ngIf="field.type!=='date'" for="Critères de recherche du message">{{field.label}}</label>
          <!-- label date-->
        <label *ngIf="field.type==='date'" for="Critères de recherche du message"
          [ngClass]="!!selectedValue || isOpened ? 'ng-select-label' : ''">{{field.label}}</label>
      </div>
      <!-- message d'erreurs -->
      <h1 *ngIf="field.disabled">---- {{field.disabled && (form.get(field.touched) && form.get(field.fcn).invalid)}}</h1>
      <div *ngIf="field.disabled && (form.get(field.touched) && form.get(field.fcn).invalid)" class="helptext text-red"> erreur</div>
    </div>
    <div *ngIf="field.disabled" class="remove" (click)="removeField(field.fcn)">
      <i class="zmdi zmdi-delete"></i>
    </div>
  </div>

  </div>
  
  <input type="hidden" name="" formControlName="listEmpty">
  <button class="main-btn" [disabled]="form.invalid"> SUBMIT  {{form.invalid}} </button>
</div>



