.myprofile-options{
    display: block;
    background: white;
    position: absolute;
    z-index: 9;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 1px #80808038;
    a{
        font-size: 14px;
        padding: 0.55rem 1rem;
        width: 100%;
        color: gray;
        &:first-child{
            border-bottom: 1px solid #f7f7f7;

        }
    }
}
.header{
    &.show{
        overflow: inherit !important;
        .header__right-nav ul li.subMenu ul{
            display: none !important;
        }
        
    }
}
